<html>
    <header>
        <img class="img" *ngIf="isMobileResolution" src="../../assets/logo.png" alt="">
        <mat-select class="tituloMedico" placeholder="Selecione o Nome" [(ngModel)]="ListaComponent" name="medico">
            <mat-option *ngFor="let medico of medicos" [value]="medico.nome">
                {{medico.nome}}
            </mat-option>
        </mat-select>
        <div class="buttonSair"><button *ngIf="isMobileResolution" class="sair" mat-button>Sair</button></div>
    </header>

    <body>
        <p class="mExames">Meus Exames</p>
        <mat-accordion>
            <mat-expansion-panel expandedHeight>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Data
                    </mat-panel-description>
                    <mat-panel-description class="nomeExame">
                        Teleperfil em cefalosfosfato com traçado                    </mat-panel-description>
                    <mat-panel-description class="nomeMedico">
                        Nome do Medico
                    </mat-panel-description>
                </mat-expansion-panel-header>
                  <button mat-button class="buttonExpansion">VER LAUDO</button>
                  <button mat-button class="buttonExpansion">BAIXAR IMAGENS</button>
              </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel expandedHeight>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Data
                    </mat-panel-description>
                    <mat-panel-description class="nomeExame">
                        Nome do exame
                    </mat-panel-description>
                    <mat-panel-description class="nomeMedico">
                        Nome do Medico
                    </mat-panel-description>
                </mat-expansion-panel-header>
                  <button mat-button class="buttonExpansion">VER LAUDO</button>
                  <button mat-button class="buttonExpansion">BAIXAR IMAGENS</button>
              </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel expandedHeight>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Data
                    </mat-panel-description>
                    <mat-panel-description class="nomeExame">
                        Nome do exame
                    </mat-panel-description>
                    <mat-panel-description class="nomeMedico">
                        Nome do Medico
                    </mat-panel-description>
                </mat-expansion-panel-header>
                  <button mat-button class="buttonExpansion">VER LAUDO</button>
                  <button mat-button class="buttonExpansion">BAIXAR IMAGENS</button>
              </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel expandedHeight>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Data
                    </mat-panel-description>
                    <mat-panel-description class="nomeExame">
                        Nome do exame
                    </mat-panel-description>
                    <mat-panel-description class="nomeMedico">
                        Nome do Medico
                    </mat-panel-description>
                </mat-expansion-panel-header>
                  <button mat-button class="buttonExpansion">VER LAUDO</button>
                  <button mat-button class="buttonExpansion">BAIXAR IMAGENS</button>
              </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel expandedHeight>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Data
                    </mat-panel-description>
                    <mat-panel-description class="nomeExame">
                        Nome do exame
                    </mat-panel-description>
                    <mat-panel-description class="nomeMedico">
                        Nome do Medico
                    </mat-panel-description>
                </mat-expansion-panel-header>
                  <button mat-button class="buttonExpansion">VER LAUDO</button>
                  <button mat-button class="buttonExpansion">BAIXAR IMAGENS</button>
              </mat-expansion-panel>
        </mat-accordion>

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Data
                </mat-panel-description>
                <mat-panel-description>
                    Nome do exame
                </mat-panel-description>
                <mat-panel-description>
                    Nome do Medico
                </mat-panel-description>
            </mat-expansion-panel-header>
            content -->
        <!-- </mat-expansion-panel> -->
    </body>

    <footer *ngIf="isMobileResolution" class="footer">
        audo
    </footer>
</html>