<html>
    <body>

        <img src="../../assets/logo.png" alt="">

        <mat-card>
            <mat-card-header>
                
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input [(ngModel)]="usuario.codigo" id="codigo" type="text" matInput placeholder="Digite o código do exame">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input [(ngModel)]="usuario.senha" id="senha" type="password" matInput placeholder="Digite a senha de acesso">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button class="btEntrar" (click)="autenticado(usuario)" mat-button>ENTRAR</button>
            </mat-card-actions>
        </mat-card>    

        <div *ngIf="isMobileResolution" class="footer">
            Pacientes em caso de dúvidas e/ou problemas de acesso, entrar em contato com nossa central de atendimento pelo telefone (85) XXXX-XXXX.
        </div>

        <div *ngIf="isMobileResolution === false" class="footerMobTop"><a href="">Não consigo acessar meus exames</a></div>

        <div *ngIf="isMobileResolution === false" class="footerMob">Ao clicar em 'Entrar' você está concordando com os nossos <a href="">Termos de Serviço</a>habitant neque class nostra vehicula posuere vestibulum cubilia convallis vivamus, primis.</div>

    </body>

    <!-- <footer>
        Pacientes em caso de dúvidas e/ou problemas de acesso, entrar em contato com nossa central de atendimento pelo telefone (85) XXXX-XXXX.
    </footer> -->
</html>

