html, body {
        height: 100%;
    }

html {
    /* text-align: center; */
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #f4f6f8;
    padding-top: 0%
}
.btEntrar {
    background-color: rgb(187, 187, 255);
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    font-size: 16px
}

button:hover {
    background-color: #3b3bff
}

div, mat-card {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mat-card {
    background-color: #f4f6f8;
    box-shadow: none
}

.footer {
    margin-top: 40px;
    width: 35%;
    text-align: left;
    font-size: 18px
}

.footerMob {
    margin-top: 20px;
    width: 70%;
    text-align: left;
    color: rgb(175, 175, 175);
}

.footerMobTop {
    margin-top: 50px;
    width: 70%;
    text-align: left;
    color: rgb(175, 175, 175);
}

a {
    color: rgb(175, 175, 175);
}

img {
    margin-bottom: 5%;
    width: 45%
    /* margin-top: -50% */
}

.mat-card-content {
    width: 100%;
    box-shadow: none
}

.mat-form-field {
    width: 80%
}

mat-card-actions {
    margin-top: 10%;
}
