<html>
    <body>

        <img src="../../assets/logo.png" alt="">

        <mat-card>
            <mat-card-header>
                
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Digite o código do exame">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Digite a senha de acesso">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-raised-button>Entrar</button>
                <button mat-button>entrar</button> -->
                <a routerLink="lista">Lista</a>

                <button class="btEntrar" (click)="logar()" mat-button>ENTRAR</button>
            </mat-card-actions>
        </mat-card>    

        <div class="footer">
            Pacientes em caso de dúvidas e/ou problemas de acesso, entrar em contato com nossa central de atendimento pelo telefone (85) XXXX-XXXX.
        </div>

        <router-outlet></router-outlet>

    </body>

    <!-- <footer>
        Pacientes em caso de dúvidas e/ou problemas de acesso, entrar em contato com nossa central de atendimento pelo telefone (85) XXXX-XXXX.
    </footer> -->
</html>

